<legend>Cargos</legend>

<div class='responsive-table'>
  <table class='table table-hover' style='margin-bottom:0;'>
    <thead>
      <%= render 'organization/posts/list_head', resource_class: Post %>
    </thead>
    <tbody>
      <%= render 'organization/posts/list_body', resource_class: Post %>
    </tbody>
  </table>
  <%= paginate %>
</div>
