<% resource.posts.each do |object| %>
  <tr id="<%= dom_id object %>">
    <% resource_class.list_attributes.each_with_index do |attribute, index| %>
      <td>
        <%#&& can?(:show, object)%>
        <% if controller_has_action?(:show) %>
          <%= formatted_attribute(object, attribute) %>
        <% end %>
      </td>
    <% end %>
  <td class='icons'>
    <%= icons { render 'organization/posts/list_icons', object: object } %>
  </td>
</tr>
<% end %>
<script type="text/javascript">
  (function(){
    var html = $('.icons a').html();
    if(html == undefined){
      $('.icons').remove();
    }
  })();
</script>
