<%= simple_form_for resource,
  url: organization_department_posts_path(
    page: params[:page],
    index: params[:index]
  ),
  method: :post do |f| %>
    <%= modal do %>
      <%= f.input :name, dimension: 4 %>
    <% end %>
  <%= render 'form_buttons', f: f  %>
<% end %>
