<section id="content">
  <div id="position-profile">
    <div class='container'>
      <div class='row' id='content-wrapper'>
        <div class='col-xs-12'>
          <div class='row'>
            <div class='col-sm-12'>
              <div class='page-header'>
                <h1 class='pull-left'>
                  <i class='icon-user'></i> <span id="h1-profile">Perfil</span>
                </h1>

                <div class='pull-right'>
                  <ul class='breadcrumb'></ul>
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-9 col-lg-10'>
              <div class="content"></div>
              <div class='box'>
                <div class='box-content box-double-padding'>
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => 'navbar-form navbar-right hidden-xs', :class => 'form', style: 'margin-bottom: 0;' }) do |f| %>
                      <%= devise_error_messages! %>
                      <fieldset>
                        <div class='col-sm-4'>
                          <div class='lead'>
                            <i class='icon-github text-contrast'></i> Informações
                          </div>
                          <small class='text-muted'>Caso queira alterar a senha, marque a opção 'Alterar senha'.
                          </small>
                        </div>
                        <div class='col-sm-7 col-sm-offset-1'>
                          <div class='form-group'>
                            <%= f.label :email %>
                            <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: 'Email' %>
                          </div>
                          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                          <% end %>
                          <div class='form-group'>
                            <i>(precisamos de sua senha atual para iniciar as alterações)</i><br/>
                            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Senha atual' %>
                          </div>
                          <hr class='hr-normal'>
                          <div class='form-group'>
                            <div class='controls'>
                              <%= f.check_box :changed, 'data-target' => '#change-password', 'data-toggle' => 'collapse', value: 'option1' %>
                              Alterar a senha?
                            </div>
                          </div>
                          <div class='collapse' id='change-password'>
                            <div class='form-group'>
                              <i>(deixe em branco se você não quiser alterá-la)</i><br/>
                              <%= f.password_field :password, autocomplete: "off", placeholder: 'Senha', class: 'form-control' %>
                            </div>
                            <div class="form-group">
                              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirmação de senha' %>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                      <hr class='hr-normal'>
                      <fieldset>
                        <div class='col-sm-4'>
                          <div class='lead'>
                            <i class='icon-user text-contrast'></i> Identificação
                          </div>
                          <small class='text-muted'>Alterar usuário</small>
                        </div>
                        <div class='col-sm-7 col-sm-offset-1'>
                          <div class='form-group'>
                            <%= f.label :login %><br/>
                            <%= f.text_field :login, class: 'form-control', autofocus: true, placeholder: 'Usuário' %>
                          </div>
                        </div>
                      </fieldset>
                      <div class='form-actions form-actions-padding' style='margin-bottom: 0;'>
                        <div class='text-right'>
                          <%= f.submit 'Atualizar', class: 'btn btn-success btn-lg' %>
                          <%= link_to 'Voltar', root_path, class: 'btn btn-danger btn-lg' %>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
