<div class='box bordered-box blue-border' style='margin-bottom:0;'>
  <div class='box-header grey-background'>
    <% text = I18n.t '.general_data' %>
    <%= box_wrapper(box_content_box_padding: true, text: text) do %>
      <% attributes.each do |attribute| %>
        <% if resource.respond_to? real_attribute(attribute) %>
          <span id="box-format"><%= show_attribute(attribute, upcase: false) %></span>
        <% end %>
      <% end %>
      <div class="pull-right-top">
        <%= link_to raw("<i class='icon-signin icon-white btn btn-md btn-primary'> Cargo</i>"),
          new_organization_department_post_path(department_id: resource), remote: true
        %>
      </div>
      <br>
    <% end %>
  </div>
</div>
<br>
<%= render 'organization/posts/list'%>
