<%= box_wrapper(box_content_box_padding: true, text: 'Endereço', collapse: true) do %>
  <% f.simple_fields_for :address, f.object.address || Address.new do |a| %>
    <%= a.input :street %>
    <%= a.input :complement %>
    <%= a.input :number %>
    <%= a.input :district %>
    <%= a.input :zipcode %>
    <div ng-controller="stateController" ng-app="gym">
      <%= a.input :state,
        input_html: { 'ng-change' => 'getCitiesByStateId()', 'ng-init' => "state= '#{a.object.state_id}'",
           'ng-model' => 'stateId', dimension: 3, value: a.object.state_id } %>

      <div id="city" class="<%= a.object.state.nil? ? 'hide' : 'active' %>">
        <%= a.input :city,
          input_html: { 'ng-model' => 'cityId', 'ng-options' => 'city.name for city in cities track by city.id',
            not_collection: true, dimension: 3, val: a.object.city_id, city_name: a.object.city.to_s} %>
      </div>
    </div>
  <% end %>
<% end %>
