<%= f.simple_fields_for :person, f.object.person || Person.new do |p| %>
  <%= p.input :name, dimension: 3  %>
  <%=p.input :birth_date, dimension: 3, input_html: { value: I18n.l(p.object.birth_date || Date.current), dimension: 3 } %>
  <%= p.input :gender %>
  <%= p.input :cpf, input_html: { class: 'mask-cpf' }%>
  <%= p.input :rg %>
  <%= p.input :rg_organ %>
  <%= p.input :mother_name,  dimension: 3 %>
  <%= p.input :father_name,  dimension: 3 %>
  <%= p.input :schooling,  dimension: 3 %>
<% end %>
