<%= box_wrapper(text: 'Dados gerais', box_content_box_padding: true, collapse: true) do %>
  <%= f.input :name, dimension: 3 %>
  <%= f.input :company_name, dimension: 3%>
  <%= f.input :cnpj, dimension: 3 %>
  <%= f.input :ie %>
  <%= f.input :im %>
  <%= f.input :document_cnpj, dimension: 5 %>
  <%= f.input :logo, dimension: 5 %>
<% end %>

<%= link_to_add_association 'adicionar telefone', f, :phones, partial: 'shared/phones' %>
  <%= f.simple_fields_for :phones, collection: f.object.phones do |phone| %>
  <%= render 'shared/phones', f: phone %>
<% end %>

<%= render 'shared/addresses', f: f %>
