<div class="<%= '' unless request.xhr? %>">
  <%= simple_form_for resource.localized,
          url: resource.persisted? ? resource_path : collection_path,
          method: resource.persisted? ? :put : :post,
          remote: request.xhr? do |f| %>
      <%= hidden_field_tag :shortcut_register, params[:shortcut_register] if params[:shortcut_register] %>
      <%= render 'form_base_errors', f: f %>
      <div class='box-content'>
          <%= render 'form', f: f %>
      </div>
      <%= render 'form_buttons', f: f %>
  <% end %>
</div>
