<% if request.xhr? %>
  <div class="modal-footer">
    <%= f.button :button, class: 'btn btn-success btn-md' %>
  </div>
<% else %>
  <div class="clearfix form-actions">
    <%= f.button :back, class: 'btn btn-danger btn-lg' %>
    <%= f.button :button, class: 'btn btn-success btn-lg' %>
    </div>
<% end %>
