<div class='row'>
  <div class='col-sm-12'>
    <div id="box-index">
      <div class='box bordered-box blue-border' style='margin-bottom:0;'>
        <div class='box-header grey-background'>
          <div class='row'>
            <div class='col-sm-12' id="button-crud">
              <%= create_link if create? %>
            </div>
          </div>
          <div class='box-content box-no-padding'>
            <div class='responsive-table'>
              <div class='scrollable-area'>
                <table class='table table-striped table-bordered table-hover' style='margin-bottom:0;'>
                  <thead>
                    <%= render 'list_head' %>
                  </thead>
                  <tbody>
                    <%= render 'list_body' %>
                  </tbody>
                </table>
                <%= paginate %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
