<% collection.each do |object| %>
    <tr id="<%= dom_id object %>">
      <% resource_class.list_attributes.each_with_index do |attribute, index| %>
          <td>
            <%#&& can?(:show, object)%>
            <% if index == 0 && controller_has_action?(:show) %>
                <div id="color-link">
                  <%= render 'list_body_show_link', object: object, attribute: attribute %>
                </div>
            <% else %>
                <%= formatted_attribute(object, attribute) %>
            <% end %>
          </td>
      <% end %>
      <td class='icons'>
        <%= icons { render 'list_icons', object: object } %>
      </td>
    </tr>
<% end %>
<script type="text/javascript">
    (function () {
        var html = $('.icons a').html();

        if (html == undefined) {
            $('.icons').remove();
        }
    })();
</script>
