<legend class="h1-index">
  <%= t "#{controller_name}.new", resource: singular.capitalize, cascade: true %>
  <%= "( #{parent.to_s} )" if respond_to?(:parent) %>
</legend><br>

<%= render 'form_wrapper' %>
