.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #0094ff;
  border: 1px solid #dddddd;
  color: #ffffff;
  font-weight: bold;
}
