<%= box_wrapper(box_content_box_padding: true, text: 'Dados pessoais', collapse: true) do %>
  <%= render 'shared/people', f: f %>
<% end %>

<legend>Telefones</legend>
<%= f.simple_fields_for :phones, Phone.new do |phone| %>
  <%= link_to_add_association 'adicionar telefones', f, :phones, partial: 'shared/phones' %>
<% end %>
<%= box_wrapper(box_content_box_double_padding: true, text: 'Usuário', collapse: true) do %>
  <% f.simple_fields_for :user, f.object.user || f.object.build_user do |u| %>
    <%= u.input :login %>
    <%= u.input :password %>
    <%= u.input :password_confirmation %>
  <% end %>
<% end %>
<br>
<%= render 'shared/addresses', f: f %>
