<%= form_for(resource , :html => { :class => 'validate-form' }, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <div class="controls with-icon-over-input">
        <%= f.label :login %><br/>
        <%= f.text_field :login, autofocus: true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
    <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
    <% end -%>
    <div class="actions">
      <%= f.submit 'Entrar', class: 'btn btn-block' %>
    </div>
<% end %>
