header {
  .navbar {
    margin: 0;
    padding: 0 15px;
    background-color: $headerBackground;
    border: none;
    min-height: $headerHeight;
    height: $headerHeight;
    @include border-radius(0);

    .navbar-brand {
      color: $headerBrandColor;
      font-size: 20px;
      text-shadow: none;
      font-weight: 200;
      padding: 0;
      height: $headerHeight;
      vertical-align: middle;
      line-height: $headerHeight;

      &:hover, &:focus {
        color: $headerBrandColor;
      }

      .logo {
        display: none;

        @include sm-plus {
          display: inline-block;
        }
      }

      .logo-xs {
        display: inline-block;

        @include sm-plus {
          display: none;
        }
      }

      img {
        margin-top: -2px;
      }
    }

    .toggle-nav {
      color: $white;
      text-shadow: none;
      vertical-align: middle;
      padding: 4px 12px;
      margin-top: ($headerHeight - 30px) / 2;
      margin-left: 15px;
      background-color: $headerBackground;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05));

      @include sm-plus {
        margin-left: 15px;
      }

      &:active, &.active {
        @include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05));
        background-color: darken($headerBackground, 10%);
      }

      &:hover {
        background-color: darken($headerBackground, 10%);
      }
    }

    .navbar-form {
      margin: (($headerHeight - 30px) / 2) 10px 0 0;
      padding: 0;
      position: relative;
      border: none;

      button {
        position: absolute;
        color: $headerSearchButtonColor;
        right: 10px;
        top: 6px;
        text-decoration: none;
        padding: 0;
        margin: 0;
        z-index: $zindexFixedNavbar + 1;
        text-shadow: none;
        @include transition(color 200ms ease);

        &:hover {
          color: darken($headerSearchButtonColor, 25%);
        }
      }

      input {
        border-color: darken($headerBackground, 10%);
        padding-left: 7px;
        padding-right: 25px;
        color: darken($headerBackground, 25%);
        height: 30px;
        @include opacity(.4);
        @include transition(all 200ms ease);
        @include placeholder(lighten($headerBackground, 10%));

        &:hover, &:focus {
          @include opacity(1);
        }

        &:hover {
          @include placeholder(lighten($headerBackground, 20%));
        }

        &:focus {
          border-color: darken($headerBackground, 20%);
          @include box-shadow(none);
          @include placeholder(lighten($headerBackground, 15%));
        }
      }

      &:hover {
        input {
          @include opacity(1);
        }
      }
    }

    .user-menu {
      > a {
        height: 40px;
        line-height: 38px;
      }

      .dropdown-toggle {
        padding: 0 15px;

        img {
          border: 2px solid $white;
          margin-right: 5px;
          vertical-align: top;
          position: relative;
          top: 8px;
          @include square(23px);
        }

        .user-name {
          display: none;

          @include sm-plus {
            display: inline;
          }
        }

        @media screen and (-webkit-min-device-pixel-ratio: 0) {
          span {
            position: relative;
            top: 1px;
          }
        }
      }
    }

    .widget {
      .dropdown-menu {
        padding: 0;

        > li {
          width: 270px;

          > a {
            padding: 0;
            white-space: normal;

            &:hover {
              [class*="icon"] {
                color: $white !important;
              }

              small {
                color: $white !important;;
                @include opacity(.5);
              }
            }
          }

          .widget-body {
            padding: 5px;
            @include clearfix;

            .icon {
              width: 25px;
            }

            .text {
              width: 230px;

              small {
                white-space: nowrap;
              }
            }
          }

          &.widget-footer {
            a {
              padding: 10px 0;
              background: $lightest;
              text-align: center;

              &:hover {
                background: $headerBackground;
              }
            }
          }
        }

        p {
          margin: 0;
        }

        .divider {
          margin: 0;
        }
      }
    }

    > .nav {
      float: right;
      margin: 0;

      > li {
        float: left;
        
        .label {
          background: $white;
          color: $headerBackground;
        }

        &.dropdown {
          > .dropdown-toggle {
            .caret {
              border-top-color: $white;
              border-bottom-color: $white;
            }
          }

          > a {
            &:hover, &:focus {
              .caret {
                border-top-color: $white;
                border-bottom-color: $white;
              }
            }
          }

          &.open {
            > .dropdown-toggle {
              color: $white;

              .caret {
                border-top-color: $white;
                border-bottom-color: $white;
              }
            }
          }
        }

        &.light {
          > a {
            background: darken($headerBackground, 10%);

            .label {
              color: darken($headerBackground, 15%);
            }

            &:hover, &:active, &:focus {
              background-color: darken($headerBackground, 15%);
            }
          }

        }

        &.medium {
          > a {
            //background: darken($headerBackground, 15%);

            .label {
              color: darken($headerBackground, 20%);
            }

            &:hover, &:active, &:focus {
              background-color: darken($headerBackground, 20%);
            }
          }
        }

        &.dark {
          > a {
            //background: darken($headerBackground, 20%);

            .label {
              color: darken($headerBackground, 25%);
            }

            &:hover, &:active, &:focus {
              background-color: darken($headerBackground, 25%);
            }
          }
        }
      }

      > li {
        > a {
          color: $white;
          text-shadow: none;
          padding-top: 10px;
          padding-bottom: 10px;

          &:focus, &:hover {
            color: $white;
          }
        }
      }
    }

    &.navbar-fixed-top {
      position: fixed;
    }

    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }

  @media print {
    display: none;
  }
}
