<%= box_wrapper(text: 'Dados', box_content_box_padding: true, collapse: true) do %>
  <%= f.input :name, dimension: 3 %>
  <%= f.input :billing_period, dimension: 3 %>
<% end %>
<%= f.simple_fields_for :plan_values, PlanValue.new do |plan_value| %>
  <%= link_to_add_association raw("<i class='icon-signin icon-white'> Valores</i>"), f, :plan_values, partial: 'organization/plan_values/form' %>
<% end %>
