<% flash.each do |key, value| %>
    <div class='col-sm-12'>
      <div class='alert alert-success alert-dismissable'>
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <i class='icon-ok-sign'></i>
        <p><%= raw(value) %></p>
        <% flash.discard(key) %>
      </div>
    </div>
<% end %>
