<li class='dropdown dark user-menu'>
  <a class='dropdown-toggle' data-toggle='dropdown' href='#'> <i class='icon-user'></i>
    <strong class='user-name'><%= current_user.login.capitalize %></strong><b class='caret'></b></a>
  <ul class='dropdown-menu'>
    <li>
      <%= link_to raw("<i class='icon-user'></i> #{t 'profile'}"), edit_user_registration_path %>
    </li>
    <li>
      <a href='user_profile.html'> <i class='icon-cog'></i> Configurações </a>
    </li>
    <li class='divider'></li>
    <li>
      <%= link_to raw("<i class='icon-signout'></i> #{t 'sign_out'}"), destroy_user_session_path, { method: :delete } %>
    </li>
  </ul>
</li>
