<div id=''>
  <div id='main-nav-bg'></div>
  <nav id='main-nav'>
    <div class='navigation'>
      <ul class='nav nav-stacked'>
        <li class=''>
          <a class="dropdown-collapse" href="#"><i class='icon-globe'></i> <span><%= t('menu.client') %></span>
            <i class='icon-angle-down angle-down'></i> </a>
          <ul class='nav nav-stacked'>
            <li><span><%=submenu('students', 'client') %></span></li>
          </ul>
        </li>
        <li class=''>
          <a class="dropdown-collapse" href="#"><i class='icon-tasks'></i> <span><%= t('menu.organization') %></span>
            <i class='icon-angle-down angle-down'></i> </a>
          <ul class='nav nav-stacked'>
            <li><span><%=submenu('employees', 'organization') %></span></li>
            <li><span><%=submenu('plans', 'organization') %></span></li>
            <li><span><%=submenu('departments', 'organization') %></span></li>
            <li><span><%=submenu('business_units', 'organization') %></span></li>
          </ul>
        </li>
        <li class=''>
          <a class="dropdown-collapse" href="#"><i class='icon-money'></i> <span><%= t('menu.financial') %></span>
            <i class='icon-angle-down angle-down'></i> </a>
          <ul class='nav nav-stacked'>
          </ul>
        </li>
        <li class=''>
          <a class="dropdown-collapse" href="#"><i class='icon-cogs'></i> <span><%= t('menu.settings') %></span>
            <i class='icon-angle-down angle-down'></i> </a>
          <ul class='nav nav-stacked'>
            <li><span><%=submenu('schedules', 'settings') %></span></li>
            <li><span><%=submenu('modalities', 'settings') %></span></li>
            <li><span><%=submenu('billing_periods', 'settings') %></span></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
