<div class='modal fade' id='modal-window' tabindex='-1'>
  <div class='modal-dialog'>
    <div class='modal-content' id="modal-content">
      <div class='modal-header'>
        <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
        <h4 class='modal-title' id='myModalLabel'>Modal with form</h4>
      </div>
      <div class='modal-body'>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-default' data-dismiss='modal' type='button'>Close</button>
        <button class='btn btn-primary' type='button'>Save changes</button>
      </div>
    </div>
  </div>
</div>
