<html>
  <head>
    <title>Gym</title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class='contrast-blue'>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag controller_name if controller_asset? %>
    <header>
      <nav class='navbar navbar-default'>
        <a class='navbar-brand' href='#'>
          <div class="color-style">
            <i><%= image_tag asset_path('gym7.png'), width: '25px' %></i><strong><span>Academy</span></strong>
          </div>
        </a> <a class='toggle-nav btn pull-left' href='#'><i class='icon-reorder'></i> </a>
        <ul class='nav'>
          <%= render 'layouts/notifications' %>
          <%= render 'layouts/menu_profile' %>
        </ul>
      </nav>
    </header>
    <%= render 'layouts/menu_left' %>
    </section>
    <div id="wrapper">
      <div id="main-nav-bg"></div>
      <nav id="main-nav"></nav>
      <section id="content">
        <div class="container">
          <div class="row" id="content-wrapper">
            <div class="col-xs-12">
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='page-header'>
                    <%= render 'layouts/flash_messages' %>
                    <h1 class='pull-left'>
                    </h1>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-sm-12'>
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= render 'layouts/modal' %>
    </div>
  </body>
</html>
